a{
    outline: none;
    box-shadow: none;
}

.headerLogoFont{
    font-size: medium;
}

.headerLinkFont{
    font-size: small;
}

.navbar{
    padding: 0px 40px;
}

.navbar-nav{
    padding: 0px;
}

.nav-link{
    padding: 25px 80px;
}

.nav-link:hover{
    background-color:#f8f9ff !important;
}

.nav-link:focus{
    background-color:#f8f9ff !important;
}

.navAnchorsShift{
    margin-left: 74%;
}

.headerLinkFont .fa-angle-down{
    font-size:x-large;
    margin-top: 0;
}

.headerLinkFont img{
    margin-top: -10px;
    border-radius: 50%;
    background-color: #bfc2c9;
    padding: 5px;
    height: 40px;
    width: 40px;
}

ul{
    list-style: none;
}

.counterStyle{
    background-color:#d5deff;
    padding:5px 10px;
    border-radius: 10px;
    color: #2e5bff;
    margin: 5px;
    cursor: pointer;
}

.counterStyle:hover{
    background-color: #2e5bff;
    color: white;
}

.counterStyle:focus{
    background-color: #2e5bff;
    color: white;
}

.counterNumber{
    font-size: xx-large;
    padding: 0 10px;
}

.counterUL li{
    display: inline-flex;
}

@media only screen and (max-width: 600px) {
    .navAnchorsShift{
        margin-left: 0%;
        padding-top: 0px;
    }
}




@media only screen and (max-width: 1322px) {
    .navAnchorsShift{
        margin-left: 70%;
    }
}

@media only screen and (max-width: 1170px) {
    .navAnchorsShift{
        margin-left: 68%;
    }
}

@media only screen and (max-width: 1158px) {
    .navAnchorsShift{
        margin-left: 64%;
    }
}

@media only screen and (max-width: 1022px) {
    .navAnchorsShift{
        margin-left: 60%;
    }
}

@media only screen and (max-width: 991px) {
    .navAnchorsShift{
        margin-left: 5%;
        padding: 0px;
    }

    .headerLinkFont{
        padding: 15px;
    }
}

@media only screen and (max-width: 540px) {
    .navbar{
        padding: 0px !important;
    }
}

.table{
    font-size:12px;
}



thead{
    color: #b1bbd1;
    font-weight: 650;
}

/* table{
    border:2px solid hsl(210, 100%, 71%);
} */

tbody{
    font-weight: 650;
}


.tableOverflow{
    height:430px;
    overflow-y:scroll;
    border: 2px solid hsl(210, 35%, 87%);
    padding: 0px 5px;
}

td{
    border-left: none;
    border-right:none;
}

.applyborderleft{
    border-left:1px solid hsl(210, 35%, 87%) ;
}

.applyborderright{
    border-right:1px solid hsl(210, 35%, 87%) ;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#2e5bff; 
    height: 50px !important;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2e5bff; 
  }


  .sideblock{
    border: 2px solid hsl(210, 35%, 87%);
    padding:  10px;
    height: 385px;
    width: 100%;
  }

  .sideblock img{
      height:45px;
      width: 45px;
      border-radius: 50%;
      display: block;
      padding: 10px;
      background-color:  hsl(210, 35%, 87%);
  }

  .overviewStyler{
      border: 1px solid rgb(194, 192, 192);
      padding: 15px 10px;
      margin: 10px 0px;
      color:rgb(122 113 127);
      font-weight: 600;
      font-size: x-small;
  }

  .overviewStyler2{
    border: 1px solid rgb(194, 192, 192);
    padding: 15px 10px;
    margin: 10px 0px;
    color:green;
    font-weight: 600;
    font-size: x-small;
    background-color: rgb(230 235 255);
}